*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.second{
    background-color: #12133d;
}
.top{
    background-image: url(../img/image\ 3.png);
    background-size: 100%;
}
.rectangle{
    width: 80px;
    height: 4px;
    background-color: #f7004a;
}
.bg-tt{
    background-color: #f7004a;
}
.bg-t{
    background-color: #03B962;
}
.third{
    background-color: #09091E;
}
.four{
    background-color: #12133D;
}
.five{
    background-color: #09091E;
}
.icon{
    margin-left: -630px;
}
.cc img{
    z-index: -1;
}
.latest{
    background-color: #12133D;
}

footer{
    background-color: #f7004a;
}
.footer-right a img{
    margin-left: 8px;
    width: 40px;
    background-image: url(../img/Ellipse.png);
    background-size: 100%;
    padding: 10px;

}